/* Anything smaller than first breakpoint 600px */
@media(max-width:599px) {
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
}

/* Large Screens */
@media (min-width:901px) {
}

#app {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8% auto;
    grid-template-areas: "hd"
                         "mc"; 
    height: 100vh;
    justify-content: center;

    header {
        grid-area: hd;
        display: flex;
        flex-direction: column;
    }
    
    .bg-custom {
        @include linearGradient($darkBlue,$midBlue);
    }
    
    nav {
        height: 100%;
    }
    
    #main-content {
        grid-area: mc;
    }
    
    .fa-arrows-alt-h {
        color: red !important;
        display: grid;
        place-content: center;
    }

    // #my-trips-content {
    
    // }
    
    form {
        color: #fffff8;
        grid-area: f;
        @include linearGradient($darkBlue,$midBlue);
        display: grid;
        justify-content: center;
        align-content: center;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    nav {
        height: 100%;
        padding: 0;
        z-index: 2;
    }

    a {
        margin-left: 1em;
    }

    button.navbar-toggler {
        margin-right: 1em;
    }
    
    .ap-suggestion {
        color: #000000 !important;
    }
    
    #bg-image {
        grid-area: bi;
        background-image: url('../img/Travel-the-World.jpg');
        background-size: cover;
    }
    
    #submit {
        background-color: #FBC02D !important;
    }
}

@media(max-width: 349px) {
    #home-content {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 60vh auto;
        grid-template-areas: "f"
                             "bi";
    }
}

@media (min-width: 350px) and (max-width: 659px) {
    #home-content {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh auto;
        grid-template-areas: "f"
                             "bi";
    }
}

@media (min-width: 660px) and (max-width:1174px) {
    #home-content {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 30vh auto;
        grid-template-areas: "f"
                             "bi";
    }
}

@media (min-width: 1175px) {
    #home-content {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 15vh auto;
        grid-template-areas: "f"
                             "bi";
    }
}