#my-trips-content {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 15vh 77vh;
    grid-template-areas: "title"
                         "card-container";
    
    .title {
        grid-area: title;
        display: grid;
        place-content: center;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        @include linearGradient($darkBlue,$midBlue);
        font-weight: bold;
    }

    .card {
        border: 0;
    }

    .card-header {
        // background-color: #FBC02D;
        font-weight: bold;
    }

    .card-footer {
        // background-color: #FBC02D;
        font-weight: bold;
    }

    h1 {
        color: #ffffff;
        font-size: 4rem;
        font-weight: bold;;
    }

    .card-img-top {
        width: 382px;
        height: 250px;
    }
    
    #card-container {
        grid-area: card-container;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    card-body {
        @include linearGradient($darkBlue,$midBlue);
        color: #ffffff;
    }

    hr {
        color: #ffffff;
        border-color: #ffffff;
    }

    .temperature {
        font-size: 2.5rem;
        align-self: center;
        padding: 0;
    }

    .icon-size {
        width: 6rem;
        height: 6rem;
        padding: 0;
    }
 
    .delete {
        transition: background-color .5s;
        font-weight: bold;
        border: 0;
        &:hover {
            animation-name: background-color;
            animation-duration: 500ms;
            background-color: #ABC02D;
        }
        &::before{
            position: absolute;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-weight: 900; 
            content: "\f1f8";
            left: 110px;
        }
    }

    .clear-day {
        background-image: url('../img/clear-day.svg');
        background-size: cover;
    }
    
    .clear-night {
        background-image: url('../img/clear-night.svg');
        background-size: cover;
    }

    .cloudy {
        background-image: url('../img/cloudy.svg');
        background-size: cover;
    }
    
    .fog {
        background-image: url('../img/fog.svg');
        background-size: cover;
    }
    
    .partly-cloudy-day {
        background-image: url('../img/partly-cloudy-day.svg');
        background-size: cover;
    }

    .partly-cloudy-night {
        background-image: url('../img/partly-cloudy-night.svg');
        background-size: cover;
    }
    
    .rain {
        background-image: url('../img/rain.svg');
        background-size: cover;
    }

    .sleet {
        background-image: url('../img/sleet.svg');
        background-size: cover;
    }
    
    .snow {
        background-image: url('../img/snow.svg');
        background-size: cover;
    }
    
    .wind {
        background-image: url('../img/wind.svg');
        background-size: cover;
    }
}


 
// @media screen and (min-width: 60em) {
//     .card {
//         max-width: calc(25% - 1em);
//     }
// } 


// @media(max-width: 349px) {
// }

// @media (min-width: 350px) and (max-width: 659px) {
// }

// @media (min-width: 68rem) and (max-width:1190px) {
// }

// @media (min-width: 1191px) {
// }